<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ant.core.antTasks">
      <antTask
            class="org.bonitasoft.studio.antTasks.P2AllInOneBundleInfo"
            eclipseRuntime="true"
            headless="true"
            library="/"
            name="P2AllInOneBundleInfo">
      </antTask>
   </extension>
   <extension
         point="org.eclipse.ant.core.antTasks">
      <antTask
            class="org.bonitasoft.studio.antTasks.RefreshWorkspaceTask"
            library="/"
            name="RefreshWorkspace"
            uri="http://ecliptical.ca/gmf/ant">
      </antTask>
   </extension>

</plugin>
